body{
	background-image: url(./img/clouds2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-size: cover;
  	overflow: hidden;
}
.may{
	position: relative;
	margin-left: 180px;
	margin-top: 60px;
}
#give{
	border: white;
	border-radius: 10px;
	padding: 5px;
}
.sol{
	padding: 20px;
	margin: 20px;
	border-radius: 30px;
}
.heading1{
	padding: 10px;
	height: 80px;
	width: auto;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	border-radius: 10px;
	font-size: 50px;
}
.heading2{
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	border-radius: 15px;
	color: black;
	position: relative;
	top:15px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading3{
	border-radius: 10px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	padding: 5px;
	position: relative;
	top: 35px;
	font-size: 30px;
}
.heading4{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	margin-left: 170px;
	bottom: 147px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading5{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	margin-left: 340px;
	bottom: 258px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading6{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	margin-left: 510px;
	bottom: 365px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading7{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	bottom: 270px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading8{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	margin-left: 170px;
	bottom: 380px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading9{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	margin-left: 340px;
	bottom: 487px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}
.heading10{
	border-radius: 15px;
	background: linear-gradient(
		to right bottom,
		rgba(255, 255, 255, 0.7),
		rgba(255, 255, 255, 0.3)
		);
	color: black;
	position: relative;
	margin-left: 510px;
	bottom: 596px;
	padding: 10px;
	height: 100px;
	width: 140px;
	font-size: 15px;
	text-align: center;
	line-height: 36px;
}


.move{
	background-color: white;
	position: relative;
	margin-left: 650px;
	border: white;
	bottom: 100px;
	
}
#loader { 
            border: 12px solid #f3f3f3; 
            border-radius: 50%; 
            border-top: 12px solid #444444; 
            width: 70px; 
            height: 70px; 
            animation: spin 1s linear infinite; 
        } 
          
@keyframes spin { 
            100% { 
                transform: rotate(360deg); 
            } 
        } 
          
.center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 
.search{
	background-color: white;
	border: white;
	border-radius: 20px;
}
.mail{
	position: relative;
	bottom: 80px;
	left: 730px;
	border-radius: 20px;
	background-color: white;
	border: white;

}